##########################################
##########################################
# Скопируйте в корень своего репозитория, но только ПОСЛЕ того, как применили изначальное форматирование.
# (подробности см. в документации)
#
# По умолчанию этот файл отключает строгие переносы строк, чтобы можно было разбивать код по своему усмотрению
##########################################
##########################################

[*.{cs,csx,cake,razor}]
resharper_keep_existing_linebreaks = true

##########################################
##########################################
# Если нужно еще больше свободы в переносах строк, можно раскомментировать эти настройки для еще менее строгого форматирования:

resharper_keep_existing_property_patterns_arrangement = true
#resharper_keep_existing_initializer_arrangement = true
#resharper_keep_existing_declaration_block_arrangement = true
#resharper_keep_existing_invocation_parens_arrangement = true
#resharper_keep_existing_property_patterns_arrangement = true

##########################################
##########################################
# ... дописывайте кастомные настройки здесь ...
